.App {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.grid-cols-4 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.inputbuscaDepE{
  width: 14rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-left: 5.5rem;
  margin-top: 2rem;
  border-radius: 20px;
  margin-bottom: 2.3rem;
  border: none;
}
.footer-dados {
  margin-top: 9rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.icon-pin {
  margin-top: 23px;
  font-size: 27px;
  color: white;
}

.ping {
  margin-left: 17.7rem;
}

.overflow {
  overflow: visible auto;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.mt-4 {
  margin-top: 1rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-row {
  width: 100%;
  flex-direction: column;
}

.flex {
  display: flex;
}

.overflow-y-auto {
  overflow-y: auto;
}

.cargo-h-scroll {
  height: calc(100vh - 235px);
}

.optionValueUF {
  color: white;
  background-color: #d64ef2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 23%;
  margin-top: -32px;
  font-size: 21px;
  border: none;
}

.containerUF {
  width: 100%;
  block-size: 4rem;
  border-radius: 6px;
  background-color: #d64ef2;
}

.gap-y-3 {
  grid-row-gap: 0.75rem;
  row-gap: 0.75rem;
}

.gap-x-2 {
  grid-column-gap: 0.5rem;
  -moz-column-gap: .5rem;
  column-gap: 0.5rem;
}

.grid {
  display: flex;
}

.flex-col {
  width: 16rem;
  flex-direction: column;
}

.flex {
  display: flex;
}

.shadow-md {
  box-shadow: 0 8px 10pxrgba(31, 70, 88, .04);
}

.p-4 {
  padding: 1rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.rounded {
  border-radius: 1rem;
}

/* 
.bg-white {
  background-color: #fff;
} */

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.flex-row {
  flex-direction: row;
}

.flex {
  display: flex;
}


.text-ion-tertiary {
  color: purple;
}

.image-data {
  border-radius: 2rem;
  width: 60px;
}

.tracking-tight {
  display: flex;

  gap: 4.8rem;
  letter-spacing: -.025em;
}

.mt-5 {
  margin-top: 1.25rem;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.text-2xl {
  font-size: 1.375rem;
}

.container-date-grande {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 10pxrgba(31, 70, 88, .04);
}

.text-roxo {
  color: purple;
}

.container-data {
  border-radius: 10px;
  background-color: white;
  width: 23rem;
  block-size: 108px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 100px;
}

.font-bold {

  font-weight: 700;
}

.text-gray-550 {
  color: #919eab;
}

.tam-fonte {
  font-size: 19px;
}

.container-texto {
  margin-top: 20px;
  margin-left: 20px;
}

.text-xs {
  font-size: .75rem;
}

.text-gray-600 {
  color: #6f6f6f;
}

.text-xs {
  font-size: .75rem;
}

.text-ion-tertiary {
  color: purple;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.text-2xl {
  font-size: 1.375rem;
}

.font-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.leading-none {
  line-height: 1;
}

.font-semibold {
  font-weight: 600;
}

.-ml-1 {
  margin-left: -0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex-none {
  flex: none;
}


.row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.textEleitor {
  margin: auto;
  font-size: 14px;
  margin-top: -19px;
  margin-right: 3rem;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  block-size: 23px;
}

.grupo-card {
  margin-top: -2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: center;

}

.pagination {
  display: flex;
  justify-content: center;
  border: none;
  gap: 7px
}

.footer-page {
  margin-top: 30px;
}

.page-item {
  background-color: purple;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.container-header {
  background-color: white;
}

.title-header {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.button-refresh {
  font-size: 12px;
  width: 5rem;
  border-radius: 6px;
  block-size: 1.5rem;
  background-color: rgb(214, 214, 214);
  color: purple;
  border: none;
  margin-left: 30px;
}

.page-button {
  background-color: purple;
  border-radius: 20px;
  color: white;
}

.titleAC {
  font-size: 20px;
  margin-top: 5rem;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* .title {
  font-size: 23px;
  position: absolute;
  left: 11rem;
  top: 21rem;
  font-weight: bold;
} */

.ccN {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #fff;
  background-color: #fff;
  width: 15rem;
  height: 10rem;
  border-radius: 1.2rem;
}

/*BG DO*/